[user]
# Please adapt and uncomment the following lines:
  name = hbhungg
  email = hung.ba.huynh@proton.me

[core]
  editor = nvim
  compression = 9
  preloadindex = true
  ignorecase = false

[init]
  defaultBranch = main

[column]
  ui = auto

[status]
  branch = true
  showStash = true
  showUntrackedFiles = all

[commit]
  verbose = true

[push]
  default = simple
  autoSetupRemote = true

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[alias]
  st = status
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)'
  p = push
  cn = commit
  c = commit

[filter "lfs"]
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
